html {
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}
footer {
    background-color: #1F2937;
}

